---
layout: default2
title: CV / Resume
in_menu: true
---
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h1>Cody Zuschlag</h1>
      <h2>Senior Software Engineer</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>American Citizen</p>
    <p>French Residence Permit</p>
    <p>English (Native) and French Languages</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Profile</h3>
    <h6>{{ site.data.resume.profile }}</h6>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="well">
      <h3>Computer Skills</h3>

      {% for skill in site.data.resume.skills %}
        <h6>{{ skill.name }}:</h6>
        {% for sub_skill in skill.sub_skills %}
        <p>{{ sub_skill }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-9">
    <h3>Career Summary</h3>

    <div class="container-fluid">
      {% for experience in site.data.resume.work_experience %}
      <div class="row">
        <div class="col-sm-9">
          <h6>{{ experience.position }}</h6>
        </div>
        <div class="col-sm-3">
          <h6>{{ experience.start | date: "%Y" }} - {% if experience.end %}{{ experience.end | date: "%Y" }}{% else %}Present{% endif %}</h6>
        </div>
        <div class="col-sm-12">
          <p>{{ experience.where }}</p>
        </div>
      </div>
      {% endfor %}
    </div>

    <h3>Education</h3>

    <div class="container-fluid">
      {% for edu in site.data.resume.education %}
      <div class="row">
        <div class="col-sm-9">
          <h6>{{ edu.degree }}</h6>
        </div>
        <div class="col-sm-3">
          <h6>{{ edu.when }}</h6>
        </div>
        <div class="col-sm-12">
          <p>{{ edu.description }}</p>
        </div>
        <div class="col-sm-12">
          <p>{{ edu.school }}</p>
        </div>
        <div class="col-sm-12">
          <p>{{ edu.where }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2>Professional Experience</h2>
    </div>
  </div>
</div>

{% for experience in site.data.resume.work_experience %}
<div class="row">
  <div class="col-md-12">
    <h5>{{ experience.position }}</h5>
    <h6><strong>{{ experience.where }},</strong> {{ experience.start | date: "%B %Y" }} - {% if experience.end %}{{ experience.end | date: "%B %Y" }}{% else %}Present{% endif %}</h6>
    <em>{{ experience.summary }}</em>
    <ul>
      {% for point in experience.points %}
      <li>{{ point }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
