<!DOCTYPE html>
<html>

  {% include head2.html %}

  <body style="padding-top: 70px;">
    {% include header2.html %}
    <div class="container">
        {{ content }}

      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><small>Site designed and created by Cody Zuschlag <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2016</small></p>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>

</html>
